<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- Font icone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Slider Vue</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="slider">
                <div class="displayed">
                    <div class="photo" v-for="(slide, index) in slides" :class="activeSlide === index ? 'photo-active' : ''">
                        <img :src="slide.image" :alt="slide.title" />
                        <div class="photo-info">
                            <h2> {{slide.title}} </h2>
                            <p> {{slide.text}} </p>
                        </div>
                    </div>
                </div>

                <div class="previews">
                    <div class="btn">
                        <div id="up" @click="btnUp">
                            <i class="arrow-up fa-solid fa-circle-chevron-up"></i>
                        </div>
                        <div id="down" @click="btnDown">
                            <i class="arrow-down fa-solid fa-circle-chevron-down"></i>
                        </div>
                    </div>
                    <div class="preview" v-for="(preview, index) in slides" :class="activeSlide === index ? 'active' : ''">
                    <img :src="preview.image" :alt="preview.image"/>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>